<%= form_with(model: category) do |form| %>
  <% if category.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
      <h4 class="alert-heading mb-3">ERRO</h4>
      <ul>
        <% category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-sm-12">
    <%= form.label :nome_da_categoria %>
    <%= form.text_field :name_category , class: 'form-control'%>
  </div>

  <div class="row">

    <div class="form-group col-6">
    <%= form.label :selecione_uma_etiqueta %>
    <%= form.select :priority, options_for_select(Category.colors, @category.priority),{include_blank:false, requerid: false} , class: "form-control select"%>
    </div>

  <div class="form-group mt-4">
    <%= form.submit 'Registrar', class:'btn btn-success'%>
  </div>
<% end %>
