<div class="show">   
  <div class='card-body'>
    <div class='row'>
      <p>
        <div class="form-group col-md-5">
          <strong>Nome da trasanção:</strong><Br>
          <p><%= @transaction.name_transaction.truncate(60)%></p>
        </div>
      </p>

      <p>
        <div class='form-group col-md-6'>
          <strong>Valor da transação:</strong><Br>
          <%=number_to_currency(@transaction.value, :unit => "R$")  %>
        </div>
      </p>

      <p>
        <div class='form-group col-md-6'>
          <strong>Data da transação:</strong><Br>
          <%=l(@transaction.date_transaction, formats: :casual, locale: :'pt-BR', default: '-')%>
        </div>
      </p>

      <p>
        <div class='form-group col-md-6'>
          <strong>Situação:</strong><Br>

          <%=@transaction.situation  == true ? "Retirada" : "Entrada"%>
        </div>
      </p>

      <p>
        <div class='form-group col-md-6'>
          <strong>Categoria:</strong><Br>
          <%= @transaction.category.name_category %>
        </div>
      </p>

      <p>
        <div class='form-group col-md-6'>
          <strong>Description:</strong><Br>
          <%= @transaction.description %>
        </div>
      </p>

      <div class="row mt-4">
        <div class="col-6">

          <%= link_to 'Editar', edit_transaction_path(@transaction), class: 'btn btn-warning w-100' %>
        </div> 
                  
        <div class="col-6">
        
          <%= link_to 'Voltar', transactions_path, class: 'btn btn-danger w-100' %>
        </div> 
        </div>
    </div>

  </div>
</div>



